body {
  background: #3fa7d6;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.link__buttons {
  font-size: 1.6rem;
  background: #fac05e;
  padding: 12px;
  border: 0;
  border-radius: 7px;
  outline: none;
  margin-bottom: 6px;
  text-decoration: none;
  color: #4e3509;
}
